/* === STYLE BLOCK === */
:root {
  --mb: 20px;
  --bsc-fnt-sz: 18px;
  --bscfont-clr: #231f20;
  --number-color: #14b691;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.section {
  background-color: #14b691;
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-block {
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.container {
  color: #212529;
  max-width: 1000px;
}

.section-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.text-block-2 {
  text-align: left;
}

.bold-text {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  display: inline;
}

.heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 800;
  display: block;
}

.bold-text-2 {
  color: #cb0a0a;
}

.text-block-3 {
  margin-bottom: var(--mb);
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.text-span {
  color: #cb0a0a;
}

.image {
  margin-bottom: var(--mb);
  border-radius: 10px;
}

.text-block-4 {
  color: #212529;
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  margin-bottom: 0;
  font-weight: 500;
  line-height: 27px;
}

.bold-text-3 {
  font-weight: 500;
}

.body {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 800;
}

.text-block-5 {
  margin-bottom: var(--mb);
  color: #212529;
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  font-weight: 500;
  line-height: 27px;
}

.text-span-2 {
  font-weight: 700;
}

.text-block-6 {
  margin-bottom: var(--mb);
  color: #212529;
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  font-weight: 500;
}

.container-2 {
  max-width: 1200px;
}

.grid {
  grid-column-gap: 55px;
  grid-row-gap: 55px;
  grid-template-rows: auto;
  place-items: center stretch;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-block-tp-class {
  color: var(--bscfont-clr);
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 32px;
}

.text-span-3 {
  color: var(--number-color);
  text-align: left;
  vertical-align: bottom;
  justify-content: flex-start;
  font-size: 73px;
  font-weight: 700;
  display: inline-block;
}

.image-2 {
  width: 120px;
  margin-top: 20px;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  margin-top: 10px;
  font-weight: 500;
}

.text-block-9 {
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  font-weight: 500;
  line-height: 22px;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  font-size: var(--bsc-fnt-sz);
  margin-top: 10px;
  font-weight: 500;
  line-height: 22px;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: .5fr;
  text-decoration: none;
  display: flex;
}

.heading-4 {
  color: var(--number-color);
  font-family: Montserrat, sans-serif;
  font-size: 73px;
  line-height: 85px;
}

.container-3 {
  max-width: 1000px;
}

.quick-stack {
  outline-offset: 0px;
  outline: 3px dotted #333;
  box-shadow: 0 1px 11.1px 10px #0003;
}

.grid-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 15px;
  grid-template-rows: auto;
  grid-template-columns: minmax(200px, .75fr) 1fr;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 1px 11.5px 10px #0003;
}

.text-block-11 {
  text-align: center;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 31px;
}

.text-span-4 {
  color: #cb0a0a;
  font-size: 19px;
  font-weight: 700;
}

.image-3 {
  width: 90%;
  padding-left: 10px;
}

.text-block-12 {
  font-size: 16px;
}

.text-block-13, .text-block-14 {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
}

.text-block-15 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 25.5px;
}

.button {
  text-align: center;
  background-color: #12ab88;
  border-top: 0 #000;
  border-radius: 4px;
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.div-block-2 {
  padding-left: 0;
  padding-right: 0;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.div-block-3 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.text-block-16 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
}

.text-block-17 {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
}

.bold-text-6 {
  color: #cb0a0a;
}

.section-4 {
  margin-top: 60px;
}

.container-4 {
  max-width: 600px;
}

.text-block-18 {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
}

.grid-4 {
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.text-block-19 {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  line-height: 15px;
  display: flex;
}

.text-block-20 {
  text-align: right;
  font-size: 12px;
  line-height: 15px;
}

.heading-5, .div-block-4, .div-block-5, .div-block-6, .div-block-7, .div-block-8, .div-block-9, .div-block-10 {
  display: none;
}

.background-video, .background-video-2, .image-4, .image-5, .image-6, .image-7 {
  border-radius: 10px;
}

.bold-text-7 {
  transition: opacity .2s;
  display: inline;
  transform: translate(0);
}

.text-block-21 {
  display: none;
}

@media screen and (max-width: 991px) {
  .container {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-2 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .heading {
    margin-top: 0;
  }

  .body {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .container-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .text-block-tp-class {
    margin-left: 15px;
    font-size: 19px;
  }

  .text-span-3 {
    font-size: 50px;
  }

  .section-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .div-block {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .container-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .image-3 {
    padding-left: 0;
  }

  .section-4 {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
  }

  .section-5 {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-6 {
    margin: 20px 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bold-text {
    font-size: 24px;
    line-height: 25px;
  }

  .heading {
    margin-top: 5px;
    font-size: 24px;
    line-height: 35px;
  }

  .bold-text-2 {
    font-size: 25px;
    line-height: 35px;
  }

  .text-block-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .body {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-3 {
    font-size: 21px;
    line-height: 35px;
  }

  .grid {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
  }

  .text-block-tp-class {
    text-align: left;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    display: inline-flex;
  }

  .text-block-9 {
    margin-top: 20px;
  }

  .section-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bold-text-4 {
    font-size: 24px;
    line-height: 35px;
  }

  .bold-text-5 {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
  }

  .div-block {
    display: none;
  }

  .container-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-2 {
    display: block;
  }

  .text-block-11 {
    display: none;
  }

  .image-3 {
    padding-left: 0;
  }

  .text-block-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-2 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .grid-4 {
    flex-flow: column;
  }

  .div-block-4 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .div-block-5 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .div-block-6 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .div-block-7 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .div-block-8, .div-block-9, .div-block-10 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .text-block-21 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    font-family: Varela, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    display: block;
  }

  .bold-text-9 {
    font-size: 24px;
    line-height: 25px;
  }

  .section-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-6 {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bold-text-17 {
    line-height: 27px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
  }

  .text-block {
    font-family: Montserrat, sans-serif;
  }

  .container {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .bold-text {
    line-height: 35px;
  }

  .heading {
    display: none;
  }

  .bold-text-2 {
    font-size: 23px;
  }

  .text-block-3 {
    font-size: 16px;
    line-height: 22px;
  }

  .body {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-3 {
    font-size: 21px;
    line-height: 31px;
  }

  .text-block-5 {
    margin-top: 0;
    padding-top: 10px;
  }

  .text-block-tp-class {
    font-size: 20px;
    line-height: 30px;
  }

  .section-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .bold-text-5 {
    font-size: 13px;
  }

  .div-block {
    display: none;
  }

  .heading-4 {
    font-size: 45px;
    line-height: 30px;
  }

  .container-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-11 {
    display: none;
  }

  .image-3 {
    padding-left: 0;
  }

  .text-block-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .button {
    width: 95%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
  }

  .text-block-17 {
    font-size: 14px;
    line-height: 20px;
  }

  .grid-4 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: left;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .text-block-19 {
    justify-content: flex-start;
    display: flex;
  }

  .heading-5 {
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    line-height: 35px;
    display: block;
  }

  .div-block-4 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 30px;
    margin-bottom: 12px;
  }

  .div-block-5 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
  }

  .div-block-6 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
    display: flex;
  }

  .div-block-7 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
  }

  .div-block-8, .div-block-9, .div-block-10 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
  }

  .bold-text-8 {
    font-size: 23px;
    line-height: 35px;
  }

  .text-block-21 {
    font-family: Varela, sans-serif;
    line-height: 24px;
  }

  .bold-text-9 {
    font-size: 18px;
    line-height: 27px;
  }

  .bold-text-10, .bold-text-11, .bold-text-12, .bold-text-13, .bold-text-14, .bold-text-15, .bold-text-16 {
    font-size: 16px;
  }

  .section-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .div-block-11 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

#w-node-_5519b666-5b0a-3384-2d8c-24e7c0a31768-34cabff4 {
  justify-self: end;
}

#w-node-f548458d-44b5-987b-627e-5cbeddfd0833-34cabff4 {
  place-self: center baseline;
}

#w-node-_647f6ac7-4523-f259-a030-36be1fb9d9f5-34cabff4 {
  align-self: center;
}

#w-node-d50bc089-94f7-c6e7-7c27-b78a040eabf5-34cabff4 {
  justify-self: end;
}

#w-node-d50bc089-94f7-c6e7-7c27-b78a040eabf7-34cabff4 {
  place-self: center baseline;
}

#w-node-bedd3c92-209e-0b5c-670a-03395cb6f004-34cabff4 {
  justify-self: end;
}

#w-node-bedd3c92-209e-0b5c-670a-03395cb6f006-34cabff4 {
  place-self: center baseline;
}

#w-node-bedd3c92-209e-0b5c-670a-03395cb6f002-34cabff4 {
  align-self: center;
}

#w-node-aa931775-7337-3ef7-72d1-c0d840c2c7e8-34cabff4 {
  justify-self: end;
}

#w-node-aa931775-7337-3ef7-72d1-c0d840c2c7ea-34cabff4 {
  place-self: center baseline;
}

#w-node-a39dd680-f08d-9146-a67f-15b8c6062f34-34cabff4 {
  justify-self: end;
}

#w-node-a39dd680-f08d-9146-a67f-15b8c6062f36-34cabff4 {
  place-self: center baseline;
}

#w-node-a39dd680-f08d-9146-a67f-15b8c6062f32-34cabff4 {
  align-self: center;
}

#w-node-_38e14e72-140e-b8b5-b590-8e7cf7ce84c5-34cabff4 {
  justify-self: end;
}

#w-node-_38e14e72-140e-b8b5-b590-8e7cf7ce84c7-34cabff4 {
  place-self: center baseline;
}

#w-node-_226bfb9d-4539-159c-b4ba-28bb22be576a-34cabff4 {
  justify-self: end;
}

#w-node-_226bfb9d-4539-159c-b4ba-28bb22be576c-34cabff4 {
  place-self: center baseline;
}

#w-node-_226bfb9d-4539-159c-b4ba-28bb22be5768-34cabff4 {
  align-self: center;
}

#w-node-_5f96430f-79f6-1acc-d5ca-df38db020ee4-34cabff4 {
  justify-self: end;
}

#w-node-_5f96430f-79f6-1acc-d5ca-df38db020ee6-34cabff4 {
  place-self: center baseline;
}

#w-node-_08dfd2f1-f426-a414-62eb-5d66dde584c9-34cabff4 {
  justify-self: end;
}

#w-node-_08dfd2f1-f426-a414-62eb-5d66dde584cb-34cabff4 {
  place-self: center baseline;
}

#w-node-_08dfd2f1-f426-a414-62eb-5d66dde584c7-34cabff4 {
  align-self: center;
}

#w-node-_3ad595c4-18b4-3a58-fc94-0e12ede2ff95-34cabff4 {
  justify-self: end;
}

#w-node-_3ad595c4-18b4-3a58-fc94-0e12ede2ff97-34cabff4 {
  place-self: center baseline;
}

#w-node-ca246b6f-92ad-a890-69e3-8e23d4faa436-34cabff4 {
  align-self: center;
}

#w-node-ca246b6f-92ad-a890-69e3-8e23d4faa43e-34cabff4 {
  justify-self: end;
}

#w-node-ca246b6f-92ad-a890-69e3-8e23d4faa440-34cabff4 {
  place-self: center baseline;
}

#w-node-ca246b6f-92ad-a890-69e3-8e23d4faa43c-34cabff4 {
  align-self: center;
}

#w-node-_9d0b6fbb-30d8-ec31-3404-3f2760f73b21-34cabff4 {
  justify-self: end;
}

#w-node-_9d0b6fbb-30d8-ec31-3404-3f2760f73b23-34cabff4 {
  place-self: center baseline;
}

#w-node-fd875032-1b07-e34d-a4fc-dacbf5300ab7-34cabff4 {
  align-self: center;
}

#w-node-fd875032-1b07-e34d-a4fc-dacbf5300abf-34cabff4 {
  justify-self: end;
}

#w-node-fd875032-1b07-e34d-a4fc-dacbf5300ac1-34cabff4 {
  place-self: center baseline;
}

#w-node-fd875032-1b07-e34d-a4fc-dacbf5300abd-34cabff4 {
  align-self: center;
}

#w-node-_7360f460-9ecb-57fe-1355-9fd05215ebd1-34cabff4 {
  justify-self: end;
}

#w-node-_7360f460-9ecb-57fe-1355-9fd05215ebd3-34cabff4 {
  place-self: center baseline;
}




/* === STYLE BLOCK === */

        html, body {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            overflow-x: hidden !important;
        }

        body > * {
            max-width: 100% !important;
        }

        * {
            box-sizing: border-box !important;
        }
    

